@import url('/assets/css/gfont.css');

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #dddddd;
    font-family: "Railway Mono", "Liberation Mono", Consolas, monospace;
    color: rgb(55,15,15);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container,.row {
    height: 100%;
}

#infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

.message img {
    width: 128px;
    height: 128px;
}

.message {
    margin-top: 10%;
    background-color: #efeeee;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 5px;
    color: #000000;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
}

